<div class="row">
    <div class="col-sm-12">
        <h1>{{message}} {{search.query.query}} </h1>
    </div>
    <div>
        <form id="songTable" action='/viewSong' method="post"></form>
        <table id="songTable" border="2" cellpadding="10px" height="50px" width="800px">
            <tr>
                <th> Song Name</th>
                <th> Artist </th>
                <th> Album </th>
                <th> Genre(s) </th>
                <th> Rating </th>
            </tr>
            {{#each songs}}
            <tr>
                <th><button style="background-color:white; border:0px" formaction="">{{this.name}}</button></th>
                <th>{{this.artist}}</th>
                <th>{{this.album}}</th>
                <th>{{this.genres}}</th>
                <th>{{this.rating}}</th>
            </tr>
            {{/each}}
        </table>
        </form>
    </div>
    
</div>


