<div class="row">
    <div class="col-sm-12">
        <h1>Search results for: {{search.query.query}} </h1>
    </div>
    <div>
        <table id="songTable">
            <tr>
                <th> Song Name</th>
                <th> Artist </th>
                <th> Album </th>
                
                <th> Rating </th>
            </tr>
            {{#each songs}}
            <tr>
                <th>{{this.name}}</th>
                <th>{{this.artist}}</th>
                <th>{{this.album}}</th>
                
                <th>{{this.rating}}</th>
            </tr>
            {{/each}}
        </table>
    </div>
    
</div>


