<div class="row">
    <div class="col-sm-12">
         <main>
            <h1> Song: {{song.name}}</h1>
            <p> Artist: {{song.artist}}</p>
            <p> Genre: {{song.genres}}</p>
            <p> Rating: {{song.rating}}</p>
            <p> Reviews: </p>
            <p class ="reviews"> {{reviews}}</p>
        
            <form class="songButtons">
                <button type="button" onclick="alert('Editing a song')"> Edit info</button>
                <button type="button" onclick="alert('Adding a review')">Add review</button>
                <button type="button" onclick="alert('Adding a rating')"> Add rating</button>
                <button type="button" onclick="alert('Permenantly deleting')"> Delete from Library</button>
            </form>
        </main>
    </div>
</div>