<div class="row">
    <div class="col-sm-12">
         <main>
             <form class="songButtons">
            <h1 id="name" name="name"> Song: {{song.name}}</h1>
            <p id="artist"> Artist: {{song.artist}}</p>
            <p id="genre"> Genre: {{song.genres}}</p>
            <p id="rating"> Rating: {{song.rating}}</p>

            
                <button type="submit" formaction='/editSong/{{song.name}}'> Edit</button>
                <button type="submit" formaction='/deleteSong/{{song.name}}'> Delete from library</button>
            </form>
        </main>
    </div>
</div>